<a href="https://colab.research.google.com/github/NirmalaMangamuri/ICP-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#5.A

input_string = input("Enter a string: ")
char_list = list(input_string)
char_list.pop(2)
char_list.pop(3)
reversed_string = ''.join(reversed(char_list))
print("Reversed String:", reversed_string)

In [ ]:

#5 B
A= float(input("Enter the first number: "))
B= float(input("Enter the second number: "))
addition = A+B
subtraction = A-B
multiplication = A * B
division = A/B if B != 0 else "undefined (cannot divide by zero)"
print(f"Addition: {A} + {B} = {addition}")
print(f"Subtraction: {A} - {B} = {subtraction}")
print(f"Multiplication: {A} * {B} = {multiplication}")
print(f"Division: {A} / {B} = {division}")

In [ ]:
#6
sentence = input("Enter a sentence: ")
updated_sentence = sentence.replace("colab", "Google colab")
print("Updated Sentence:", updated_sentence)

In [ ]:
#7
score = float(input("Enter the class score (0–100): "))
if score >= 90 and score <= 100:
    grade = "A"
elif score >= 80 and score < 90:
    grade = "B"
elif score >= 70 and score < 80:
    grade = "C"
elif score >= 60 and score < 70:
    grade = "D"
elif score >= 0 and score < 60:
    grade = "F"
else:
    grade = "Invalid score. Please enter a number between 0 and 100."
print("Letter Grade:", grade)

In [1]:
 #8
x = [23, 'Python', 23.98]
types = []
for element in x:
    types.append(type(element))
print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [2]:
#9
# Given sets and list
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Find the length of the set IT_companies
print("Length of IT_companies:", len(IT_companies))

# 2. Add 'Twitter' to IT_companies
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

# 3. Insert multiple IT companies at once
IT_companies.update(['TCS', 'Infosys', 'Accenture'])
print("After adding multiple companies:", IT_companies)

# 4. Remove one company from IT_companies
IT_companies.remove('IBM')  # or any other existing company
print("After removing IBM:", IT_companies)

# 5. Difference between remove and discard
# remove() raises an error if the item does not exist
# discard() does nothing if the item is not found

# Example:
# IT_companies.remove('NonExistent')  # This would raise KeyError
IT_companies.discard('NonExistent')   # This does nothing

# 6. Join A and B (Union)
joined_set = A.union(B)
print("Join A and B:", joined_set)

# 7. Find A intersection B
intersection = A.intersection(B)
print("A ∩ B:", intersection)

# 8. Is A subset of B?
print("Is A subset of B?:", A.issubset(B))

# 9. Are A and B disjoint?
print("Are A and B disjoint sets?:", A.isdisjoint(B))

# 10. Join A with B and B with A (same result as union)
print("A union B:", A.union(B))
print("B union A:", B.union(A))

# 11. Symmetric difference between A and B
print("Symmetric difference (A △ B):", A.symmetric_difference(B))

# 12. Delete the sets completely
del A
del B
# print(A)  # This would raise NameError if you try after deletion

# 13. Convert age list to set and compare lengths
age_set = set(age)
print("Original age list:", age)
print("Set from age list:", age_set)
print("Length of age list:", len(age))
print("Length of set:", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'IBM', 'Amazon', 'Facebook', 'Microsoft', 'Twitter', 'Google', 'Apple', 'Oracle'}
After adding multiple companies: {'IBM', 'Google', 'Accenture', 'Apple', 'Amazon', 'Facebook', 'Twitter', 'Oracle', 'Infosys', 'TCS', 'Microsoft'}
After removing IBM: {'Google', 'Accenture', 'Apple', 'Amazon', 'Facebook', 'Twitter', 'Oracle', 'Infosys', 'TCS', 'Microsoft'}
Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
A ∩ B: {19, 20, 22, 24, 25, 26}
Is A subset of B?: True
Are A and B disjoint sets?: False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference (A △ B): {27, 28}
Original age list: [22, 19, 24, 25, 26, 24, 25, 24]
Set from age list: {19, 22, 24, 25, 26}
Length of age list: 8
Length of set: 5